<div class="main-content">
    <div class="content-text">
        <h1><span>Live Sustainably</span> by Tracking Your <span>Impact</span></h1>
        <p>Welcome to your personal Sustainability Tracker, where every small action leads to a significant impact. Monitor your eco-friendly initiatives, stay informed with actionable insights, and take steps towards a sustainable future. Together, we can make a difference—one action at a time.</p>
        <a class="first-link" routerLink="/add-actions">Start Tracking</a> <!-- Redirect to POST Actions Page -->
        <a class="second-link" routerLink="/actions">View History</a> <!-- Redirect to GET Actions Page -->
    </div>

    <div class="content-image">
        <img src="svg/background-img.png" class="background-image">
        <img src="svg/home-page-img.svg" class="foreground-image">
    </div>
</div>